

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.loader{
  position: relative;
  width: 200px;
  height: 70px;
 overflow: hidden;
}

.loader h1{
  color: white;
 position: absolute;
 top: 27%;
 left: 24px;
  letter-spacing: 2px; 
 /* top: 41%;
  left: 27px; */ 
}

